<h1 class ="text-center font-bold text-5xl h-10 my-10 text-slate-700 ">All our events!</h1>


<div class = "flex  flex-col items-center   ">

  <% @events.each do |event| %>
    <div><%=event.name%></div>
    <div><%=event.location%></div>
    <div><%=event.date%></div>
    <div class = "shadow-md text-blue-400"><%= link_to 'Details', event_path(event) %></div>
    <br>
  <% end %>

</div>